body{
background-image: url(/imge/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg);
}
.addproduct{
    background-color: rgb(255, 215, 221);
    border: 2px solid white;
}
